break

In [1]:
for i in range(5):
  print(i)
  if i == 2:
    break

0
1
2

In [2]:
count = 0
while True:
  print("Inside the while loop")
  count += 1
  if count == 5:
    break

Inside the while loop
Inside the while loop
Inside the while loop
Inside the while loop
Inside the while loop

continue

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
  ## skip printing the even numbers
  if num % 2 == 0:
    continue
  print(num)

1
3
5
7
9

In [4]:
i = 1
while i < 4:
  j = 0
  while j < 5:
    j = j + 1
    if j == 3:
      continue
    print(j, end = " ")
  i = i + 1

1 2 4 5 1 2 4 5 1 2 4 5

pass

In [5]:
count = 0
while count < 5:
  pass ## placeholder for writing the future code
  print(count)
  count = count + 1

0
1
2
3
4

Functions

In [7]:
## function definition
def greet(name):
  print(f"Hello, {name}")

## function calling
greet("Sameer")

Hello, Sameer

In [12]:
def myfunction(*players):
  print("One of the player in the cricket team is "+players[5])

## learners name
myfunction("Vijay", "Amit", "Sumit", "Akash", "Harsh", "Himanshu")

One of the player in the cricket team is Himanshu

In [13]:
def my_function(country="India"):
  print("I am from "+ country)

my_function("Sweden")
my_function() ## default country = "India"
my_function("Brazil")
my_function("Norway")

I am from Sweden
I am from India
I am from Brazil
I am from Norway

In [14]:
def function(a, b, c=10):
  return a + b - c

result = function(10, 12)
print(result)

12

In [15]:
def calculate_result(x , y, w = 1, z = 5):
  return x + y + w + z

result = calculate_result(1, 2, z = 4)
print(result)

8

In [16]:
def my_functions(lst):
  for num in lst:
    print(num)


lst = [2, 3, 4, 5, 6, 1, 8]
my_functions(lst)

2
3
4
5
6
1
8

Create a function "calculate" in which it is having add functionality, subtraction functionality, multiplication and division functionality of two numbers.

In [ ]:
def calculate(val1, val2, operation = 'add'):
  if operation == 'add':
    return val1 + val2
  elif operation == 'subtract':
    return val1 - val2
  elif operation == 'multiply':
    return val1 * val2
  elif operation == 'divide':
    return val1 / val2

result = calculate(10, 20, "multiply")
result

'''
def division(a, b):
        if b != 0:
            return a / b
        else:
            return "Division by zero is not allowed"
'''

print() and return

In [24]:
def add_with_print(a, b):
  print("The sum of two numbers is ", a + b)


def add_with_return(a, b):
  return a + b

add_with_print(2, 3)
result = add_with_return(2, 3)
print("The sum of two numbers is ", result)

The sum of two numbers is  5
The sum of two numbers is  5

In [25]:
## function definition
def is_armstrong(num):
  str_num = str(num)
  num_digits = len(str_num)

  sum_of_powers = sum(int(digit)**num_digits for digit in str_num)
  return sum_of_powers == num

## function calling
result = is_armstrong(150)
print(result)

False

In [26]:
## function definition
def sum_and_product(num1, num2):
  sum_result = num1 + num2
  product_result = num1 * num2
  return sum_result, product_result

num1 = 6
num2 = 10
sum_result, product_result = sum_and_product(num1, num2)
print(sum_result)
print(product_result)

16
60

Nested Functions

In [27]:
def calculator(x, y):
  def add(a, b):
    return a + b

  def multiply(a, b):
    return a * b

  def calc(op, a, b):
    if op == 'add':
      return add(a, b)

    else:
      return multiply(a, b)

  return calc('add', x, y), calc('multiply', x, y)

result = calculator(2, 3)
print(result)

(5, 6)