Comparing Strings

In [1]:
string1 = "apple"
string2 = "banana"

print(string1 == string2) ## Equal to
print(string1 != string2) ## Not equal to
print(string1 < string2) ## Less than
print(string1 > string2) ## Greater than
print(string1 <= string2) ## Less than or equal to
print(string1 >= string2) ## Greater than or equal to

False
True
True
False
True
False

In [2]:
ord('a')

97

In [3]:
ord('b')

98

In [4]:
"cat" < "catalog"

True

In [5]:
ord('Z')

90

In [6]:
"Zebra" < "apple"

True

replace()

In [7]:
original_string = "Hello, world!"

## Replace "world" with "Python"
new_string = original_string.replace("world", "Python")
print(new_string)

Hello, Python!

split()

In [8]:
sentence = "This is a very interesting session"
words = sentence.split()
print(words)

['This', 'is', 'a', 'very', 'interesting', 'session']

In [10]:
names = "Rohit, Virat, Dhoni, Axar, Samson, Ishant, Jadeja"
names_list = names.split(',')
print(names_list)

['Rohit', ' Virat', ' Dhoni', ' Axar', ' Samson', ' Ishant', ' Jadeja']

In [11]:
string = "Hello-World"
print(string.split("-"))

['Hello', 'World']

In [12]:
string = "HelloWorld"
print(string.split("-"))

['HelloWorld']

Formatting

In [13]:
age = 20
text = "My name is Siddharth, I am " + age
print(text)

TypeError: can only concatenate str (not "int") to str

In [14]:
age = 20
text = f"My name is Siddharth, I am {age} years old"
print(text)

My name is Siddharth, I am 20 years old

strip() - removes any whitespace from the beginning or the end.

In [15]:
text = "      Hello, Python Developers!    "
stripped_text = text.strip()
print(stripped_text)

Hello, Python Developers!

In [16]:
print(text)

      Hello, Python Developers!

In [17]:
text = "      Hello, Python        Developers!    "
stripped_text = text.strip()
print(stripped_text)

Hello, Python        Developers!

index() - returns ValueError if the substring is not present in the main string

In [18]:
string = "Hello, World!"
index = string.index("World")
print(index)

7

In [19]:
index = string.index("Python")
print(index)

ValueError: substring not found

find() - returns -1 if the substring is not present in the main string

In [20]:
string = "Hello, World!"
index = string.find("World")
print(index)

7

In [21]:
index = string.find("Python")
print(index)

-1

In [22]:
sentence = "This is a sample sentence"
count = sentence.count("is")
print(count)

2

In [23]:
text1 = "Hello"
text2 = "Hello123"
print(text1. isalpha())

True

In [24]:
print(text2.isalpha())

False

In [25]:
sentence = "This is a sample sentence"
count = sentence.count("a")
print(count)

2

isupper()

islower()

isdigit()

In [26]:
text1 = "HELLO"
text1.isupper()

True

In [27]:
text1.islower()

False

In [28]:
text1.isdigit()

False

In [29]:
text = "Hello World! 1234"
swapped_text = text.swapcase()
print(swapped_text)

hELLO wORLD! 1234