Tuple

Initialization of Tuple

In [1]:
my_tuple = (1, 2, 3)
type(my_tuple)

tuple

In [2]:
my_tuple[1]

2

Access the elements and Slicing Operations

In [3]:
tuple1 = ('apple', 123, True, 3.14, [1, 2, 3])
print(tuple1[-1][1])

2

In [4]:
print(tuple1[-1][-2])

2

In [5]:
print(tuple1[1:4])

(123, True, 3.14)

In [6]:
print(tuple1[:-1])

('apple', 123, True, 3.14)

In [7]:
print(tuple1[::-1])

([1, 2, 3], 3.14, True, 123, 'apple')

Convert tuple into a list

In [8]:
tuple2 = ('Siddharth', 'Rakesh', 'Amit', 'Ajay', 'Sanjay')
list1 = list(tuple2)
print(list1)

['Siddharth', 'Rakesh', 'Amit', 'Ajay', 'Sanjay']

In [9]:
list1.extend(["Vijay", "Jitender", "Vikram"])
print(list1)

['Siddharth', 'Rakesh', 'Amit', 'Ajay', 'Sanjay', 'Vijay', 'Jitender', 'Vikram']

In [10]:
tuple2 = tuple(list1)

In [11]:
print(tuple2)

('Siddharth', 'Rakesh', 'Amit', 'Ajay', 'Sanjay', 'Vijay', 'Jitender', 'Vikram')

Built-in Functions

In [12]:
min_element = min(my_tuple)
max_element = max(my_tuple)
print(min_element)
print(max_element)

1
3

In [13]:
sum_element = sum(my_tuple)
print(sum_element)

6

In [14]:
tuple3 = (1, 2, 3, 4, 5, 3, 7, 8, 11, 12, 9, 2)
## frequency of any given element
count_2 = tuple3.count(2)
print(count_2)

2

In [15]:
pos = tuple3.index(2)
print(pos)

1

In [16]:
pos = tuple3.index(20)
print(pos)

ValueError: tuple.index(x): x not in tuple

In [17]:
tup = (1)
list1 = [1]
type(tup)

int

In [18]:
tuple4 = (2, )
print(tuple4)
type(tuple4)

(2,)

tuple

In [19]:
my_tuple

(1, 2, 3)

In [20]:
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [21]:
my_tuple = (1, 2, 3, 4, 5, 6, 7)
a, *b, c = my_tuple
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6]
7

In [22]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [23]:
tuple1 = (1, 2, 3)
tuple2 = (7, )

combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 7)

In [24]:
## this is not a tuple
tuple2 = (7, )
type(tuple2)

tuple

In [25]:
list1 = [1]
print(list1)

[1]

In [26]:
type(list1)

list

Sets

In [27]:
set1 = set() ## Empty set
set2 = {1, 2, 3}
set3 = {1, "One", 3.4}

In [28]:
print(set3)

{1, 3.4, 'One'}

In [29]:
type(set3)

set

In [30]:
set4 = {1, 2, 3, 4, 2, 3, 3, 2, 4, 4, 3, 2}
print(set4)

{1, 2, 3, 4}

Note: Sets in Python do not require a comma after a single element

In [31]:
single_element_set = {42}
print(single_element_set)

{42}

In [32]:
type(single_element_set)

set

In [33]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'h', 'o', 'e', 'l'}

In [34]:
my_set

{'e', 'h', 'l', 'o'}

In [35]:
print('e' in my_set)

True

In [36]:
len(my_set)

4

In [37]:
my_tuple = tuple(my_set)
print(my_tuple)

('h', 'o', 'e', 'l')

In [38]:
my_set = {[a, b, c]}
print(my_set)

TypeError: unhashable type: 'list'

In [39]:
my_set

{'e', 'h', 'l', 'o'}

In [40]:
my_set_1 = {('a', 'b', 'c')}
print(my_set_1)

{('a', 'b', 'c')}

Built in functions

min(), max(), sum()

In [41]:
my_set = {1, 2, 3, 4, 5, 6, 7}

In [42]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [43]:
my_set.add(9)

In [44]:
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}

In [45]:
my_set.update([8, 10, 1])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Join Sets

Union

In [46]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
union_set = set1.union(set2)  ## set1|set2
print(union_set)

{1, 2, 3, 4, 5, 6}

Intersection

In [47]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

intersection_set = set1 & set2  ## set1.intersection(set2)
print(intersection_set)

{3}

Difference

In [48]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

difference_set = set1 - set2
print(difference_set)

{1, 2}

Symmetric Difference

In [49]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

symmetric_difference = set1.symmetric_difference(set2)  ## set1 ^ set2
print(symmetric_difference)

{1, 2, 5, 6}

In [50]:
## function definition
def merge_and_remove_duplicates(tup1, tup2):
  return tuple(set(tup1).union(tup2))

## driver code
tup1 = (1, 2, 3)
tup2 = (3, 4, 5)

## function calling
print(merge_and_remove_duplicates(tup1, tup2))

(1, 2, 3, 4, 5)

Dictionaries in Python

In [52]:
my_dict = {"name":"Siddharth", "age": 20, "salary":40000, "city": "Jamshedpur", "location": "Jharkhand"}
print(my_dict)

{'name': 'Siddharth', 'age': 20, 'salary': 40000, 'city': 'Jamshedpur', 'location': 'Jharkhand'}

In [53]:
my_dict['salary']

40000

In [54]:
scores = {'Alice':85, "Bob":76, "Charlie":56, "David":78, "Eve":90}
print(scores)

{'Alice': 85, 'Bob': 76, 'Charlie': 56, 'David': 78, 'Eve': 90}

In [55]:
scores['Charlie']

56

In [56]:
min_score = min(scores.values())
print(min_score)

56

Built-in methods

In [57]:
print(my_dict.keys())

dict_keys(['name', 'age', 'salary', 'city', 'location'])

In [58]:
print(my_dict.values())

dict_values(['Siddharth', 20, 40000, 'Jamshedpur', 'Jharkhand'])

In [59]:
print(my_dict.items())

dict_items([('name', 'Siddharth'), ('age', 20), ('salary', 40000), ('city', 'Jamshedpur'), ('location', 'Jharkhand')])

Add new "key:value" pairs in the dictionary

In [60]:
my_dict

{'name': 'Siddharth',
 'age': 20,
 'salary': 40000,
 'city': 'Jamshedpur',
 'location': 'Jharkhand'}

In [61]:
my_dict['position'] = 'Lead Data Scientist'
my_dict['company'] = 'Microsoft'
print(my_dict)

{'name': 'Siddharth', 'age': 20, 'salary': 40000, 'city': 'Jamshedpur', 'location': 'Jharkhand', 'position': 'Lead Data Scientist', 'company': 'Microsoft'}

In [62]:
my_dict.update({'salary':50000, 'city':'Bengalore'})
print(my_dict)

{'name': 'Siddharth', 'age': 20, 'salary': 50000, 'city': 'Bengalore', 'location': 'Jharkhand', 'position': 'Lead Data Scientist', 'company': 'Microsoft'}

In [63]:
del my_dict['location']

In [64]:
print(my_dict)

{'name': 'Siddharth', 'age': 20, 'salary': 50000, 'city': 'Bengalore', 'position': 'Lead Data Scientist', 'company': 'Microsoft'}

Task: Check if all the elements in the list are unique or not?


list1 = [1, 2, 3, 4, 2]

Output: False

In [65]:
def all_unique(list1):
  return len(list1) == len(set(list1))


list1 = [1, 2, 3, 4, 2]
print(all_unique(list1))

False

Task: Count of occurence of each element in a list.

lst = ['a', 'b', 'a', 'b', 'c', 'a']

Output: {'a':3, 'b':2, 'c':1}

In [67]:
lst = ['a', 'b', 'a', 'b', 'c', 'a']
output = {}

for item in lst:
    if item in output:
       ## increment of the count value
        output[item] += 1
    else:
        output[item] = 1

print(output)

{'a': 3, 'b': 2, 'c': 1}

Swap key and values in a dictionary

dict1 = {'a':1, 'b':2, 'c':3}

Output: {1: 'a', 2:'b', 3:'c'}

In [68]:
dict1 = {'a': 1, 'b': 2, 'c': 3}

## Dictionary comprehensions
swapped = {value: key for key, value in dict1.items()}

print(swapped)

{1: 'a', 2: 'b', 3: 'c'}