In [1]:
a=100

In [2]:
## Declaring and Assigning Variables

age=20
height=6.1
name='Sid'
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 20
Height: 6.1
Name: Sid

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contain letter,numbers anf underscores
## variables names case sensitive

# valid variable names

first_name="Sid"
last_name="Pandey"

In [ ]:
# Invalid variables names
#2age=30
#first-name="Sid"
##@name="Sid"

In [5]:
## case sensitiity
name="Sid"
Name="Pandey"

name==Name

False

In [8]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25  #int
height=6.1 #float
name="Sid" #str
is_student=True #bool

print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [9]:
# Type Checking and Conversion

type(height)

float

In [12]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [13]:
age='25'
print(type(int(age)))

<class 'int'>

In [14]:
name="Sid"
int(name)

ValueError: invalid literal for int() with base 10: 'Sid'

In [15]:
height=5.11
type(height)

float

In [16]:
int(height)

5

In [17]:
float(int(height))

5.0

In [18]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes

var=10  #int
print(var,type(var))

var="hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [ ]:
## input 

age=int(input("What is the age"))
print(age,type(age))

23 <class 'str'>

In [3]:
## Simple Calculator
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("Sum",sum)
print("Difference", difference)
print("Product",product)
print("Quotient",quotient)

Sum 13.0
Difference -3.0
Product 40.0
Quotient 0.625