In [1]:
range(0,5)

range(0, 5)

In [2]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [9]:
## strings

str="Sid"

for i in str:
    print(i)

S
i
d

In [10]:
## while loop

count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [11]:
count=0

while count%2==0:
    print(count)
    count=count+1

0

In [12]:
## Loop control statements

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [13]:
# continue
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [15]:
#pass

for i in range(5):
    if i ==3:
        print("the number is",i)
        pass
    print(i)

0
1
2
the number is 3
3
4

In [2]:
## Nested loops

for i in range(3):
   for j in range(2):
      print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [4]:
n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [6]:
n=10
sum=0
count=1

for i in range(11):
    sum=sum+i

print(sum)

55

In [ ]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break

            else:
                print(num)